* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 0 2rem 0;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

header > div {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  position: relative;
  font-size: 1.25rem;
}

.nav-user-container {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.courses {
  display: flex;
  align-items: center;
  gap: 0 0.625rem;
  position: relative;
  cursor: pointer;
}

.courses > img {
  transition: transform 0.25s ease-in-out;
}

.courses:hover > img {
  transform: rotate(-180deg);
}

a {
  text-decoration-line: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.courses ul {
  position: absolute;
  border-radius: 5px;
  border: 1.5px solid #e9eaeb;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(30, 27, 27, 0.1);
  top: 80px;
  opacity: 0;
  pointer-events: none;
  width: 245px;
  font-size: 0.875rem;
  transition: all 0.25s ease-in-out;
  padding: 1rem 1.5rem;
}

.courses ul > li + li {
  margin-top: 0.5rem;
}
.courses ul > li:hover {
  text-decoration-line: underline;
}

.courses:hover ul {
  opacity: 1;
  pointer-events: all;
  top: 60px;
}

nav {
  margin-inline: auto;
}

nav > ul {
  display: flex;
  gap: 0 3rem;
}

nav > ul > li {
  padding-block: 1.25rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  font-size: 0.875rem;
}

.user-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.green-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #22c55e;
  position: absolute;
  right: 0;
  bottom: 0;
}

.close-icon,
.hamburger-menu {
  display: none;
}

label {
  cursor: pointer;
}

#hamburger-checkbox {
  display: none;
  /* appearance: none; */
  /* opacity: 0; */
}
@media screen and (max-width: 860px) {
  header {
    padding-inline: 1rem;
  }
  header > div {
    padding-block: 0.25rem;
  }

  .hamburger-menu {
    display: block;
  }
  .close-icon {
    margin-left: auto;
    display: block;
    cursor: pointer;
  }

  .nav-user-container {
    display: none;
    position: absolute;
    top: 0.625rem;
    right: 0;
    width: 250px;
    flex-direction: column-reverse;
    box-shadow: 0 4px 10px 0 rgba(30, 27, 27, 0.1);
    border-radius: 5px;
    border: 1.5px solid #e9eaeb;
    background-color: #fff;
  }

  /* .hamburger-menu:has(input:checked) + .nav-user-container {
    display: flex;
  } */
  input:checked + .nav-user-container {
    display: flex;
  }

  nav {
    margin-inline: unset;
    padding-left: 1.5rem;
  }

  nav > ul {
    flex-direction: column;
    gap: 0;
  }

  nav > ul > li {
    padding-block: 0.5rem;
  }

  .user {
    border-bottom: 1px solid #e9eaeb;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
  }

  .courses ul {
    left: -24px;
  }
}
